body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: white;
  text-align: center;
}

.card {
  background: #111;
  max-width: 600px;
  margin: 60px auto;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 20px #ff69b4;
}

h1 {
  color: #ff69b4;
}

button {
  background: #ff69b4;
  border: none;
  padding: 12px 18px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
